/* Border-sizing: This property allos us to include the padding and border in an elements total width and height */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box1,.box2,.box3
{width: 200px;
  height: 200px;
  color: white;
}

.box1{
  background-color: red;
  padding: 20px;
  box-sizing: border-box ;
}

.box2{
  background-color: blue;
}

.box3{
  background-color: purple;
  padding: 20px;
}

